-i https://pypi.org/simple
asgiref==3.8.1; python_version >= '3.8'
black==25.1.0; python_version >= '3.9'
click==8.1.8; python_version >= '3.7'
django==5.1.6; python_version >= '3.10'
gunicorn==23.0.0; python_version >= '3.7'
mypy-extensions==1.0.0; python_version >= '3.5'
packaging==24.2; python_version >= '3.8'
pathspec==0.12.1; python_version >= '3.8'
platformdirs==4.3.6; python_version >= '3.8'
sqlparse==0.5.3; python_version >= '3.8'
